@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f8fafc;
}

@media print {
  aside {
    display: none !important;
  }

  button {
    display: none !important;
  }

  main {
    padding: 0 !important;
  }
}
